@{
    ViewData["Title"] = "Service Request List";
}

@section Styles {
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    @* <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> *@
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Service Request List</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Service Management</a></li>
                    <li class="breadcrumb-item active">Service Request List</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-wrapper">
                    <table id="usersTable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Service Request No.</th>
                                <th>Tenant Name</th>
                                <th>Building Name</th>
                                <th>Category Type</th>
                                <th>Sub Category</th>
                                <th>Raised On</th>
                                <th>Status</th>
                                <th>Status ChangedOn</th>
                                <th>Hours</th>
                                <th>Unit Number</th>
                                <th>Prefered Visit Time</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="12" style="text-align:center;">Loading...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    @* <script src="~/assets/libs/datatables.net-keyTable/js/dataTables.keyTable.min.html"></script> *@
    <script src="~/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>

    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    @* <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script> *@

    <script src="~/assets/js/pages/datatables.init.js"></script>
    <script src="~/assets/js/service-request-list.js?v=@DateTime.UtcNow.Ticks"></script>
    <script>
        var UserID = "@ViewBag.UserID";
    </script>
}