@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    @* <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> *@
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Service Dashboard</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Service Dashboard</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="avatar-sm mr-3 p-1 border rounded border-soft-primary">
                        <div class="avatar-title rounded bg-soft-primary text-primary">
                            <i class="icon-sm" data-feather="watch"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1 font-size-15"><a href="#" class="text-dark">Open</a></h5>
                        <p class="text-muted mb-0"><i class="icon-xxs icon text-warning icon-fill-warning mr-2" data-feather="star"></i>10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="avatar-sm mr-3 p-1 border rounded border-soft-primary">
                        <div class="avatar-title rounded bg-soft-primary text-primary">
                            <i class="icon-sm" data-feather="headphones"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1 font-size-15"><a href="#" class="text-dark">Scheduled</a></h5>
                        <p class="text-muted mb-0"><i class="icon-xxs icon text-warning icon-fill-warning mr-2" data-feather="star"></i>15</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="avatar-sm mr-3 p-1 border rounded border-soft-primary">
                        <div class="avatar-title rounded bg-soft-primary text-primary">
                            <i class="icon-sm" data-feather="monitor"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1 font-size-15"><a href="#" class="text-dark">Resolved</a></h5>
                        <p class="text-muted mb-0"><i class="icon-xxs icon text-warning icon-fill-warning mr-2" data-feather="star"></i>50</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="avatar-sm mr-3 p-1 border rounded border-soft-primary">
                        <div class="avatar-title rounded bg-soft-primary text-primary">
                            <i class="icon-sm" data-feather="camera"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1 font-size-15"><a href="#" class="text-dark">Reopened</a></h5>
                        <p class="text-muted mb-0"><i class="icon-xxs icon text-warning icon-fill-warning mr-2" data-feather="star"></i>13</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-wrapper">
                    <table id="usersTable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Service RequestID</th>
                                <th>Tenant Name</th>
                                <th>Property Name</th>
                                <th>Category Type</th>
                                <th>Raised On</th>
                                <th>Status</th>
                                <th>Status Changed On</th>
                                <th>Hours</th>
                                <th>Unit Number</th>
                                <th>Description</th>
                                <th>Prefered Visit Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="12" style="text-align:center;">Loading...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/js/pages/dashboard.init.js"></script>

    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    @* <script src="~/assets/libs/datatables.net-keyTable/js/dataTables.keyTable.min.html"></script> *@
    <script src="~/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>

    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    @* <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script> *@

    <script src="~/assets/js/pages/datatables.init.js"></script>
    <script>
        var TenantId = "@ViewBag.UserID";
    </script>
    <script src="~/assets/js/technician-service-request-list-home.js?v=@DateTime.UtcNow.Ticks"></script>
}