@{
    ViewData["Title"] = "Tenant Bulk Upload";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Tenant Bulk Upload</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tenant Management</a></li>
                    <li class="breadcrumb-item active">Tenant Bulk Upload</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form id="uploadForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PropertyLbl">Building Name</label>
                                <select id="PropertyDropdown" class="form-control">
                                    <option value="">--Select Building Name--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="FlatTypeLbl">Property Type</label>
                                <select id="FlatTypeDropdown" class="form-control">
                                    <option value="">--Select Property Type--</option>
                                    <option value="Residential">Residential</option>
                                    <option value="Commercial">Commercial</option>
                                    <option value="Warehouse">Warehouse</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PropertyLbl">Upload Excel</label>
                                <input type="file" id="fileInput" class="form-control" accept=".xlsx, .xls">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success" disabled>Upload and Preview</button>
                            <a class="btn btn-primary" href="/Tenant-Bulk-Sample.xlsx" target="_blank">Download Sample Excel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" id="previewTable" style="display: none;">
            <div class="card-header">
                <h3 class="card-title">Data Preview</h3>
            </div>
            <div class="card-body">
                <div class="text-right">
                    <button id="saveData" class="btn btn-success">Save Data</button>
                </div>
                <br />
                <div id="loadingSpinner" style="display: none;" class="text-center">
                    <div class="spinner-border" role="status"></div>
                </div>
                <table class="table table-striped" id="dataPreview">
                    <thead>
                        <tr id="tableHeaders"></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
    <script src="~/assets/js/properties.js?v=@DateTime.UtcNow.Ticks"></script>
    <script src="~/assets/js/tenant-bulk-upload.js?v=@DateTime.UtcNow.Ticks"></script>
}