@{
    ViewData["Title"] = "Assign Request";
}
@model BIP_Tenant_Portal.Models.QueryAssignmentModel

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Update Assignment</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Service Management</a></li>
                    <li class="breadcrumb-item active">Update Assignment</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form method="post" class="needs-validation" novalidate>
                    <input type="hidden" asp-for="QueryAssignmentDetails.AssignmentID">
                    <input type="hidden" asp-for="QueryAssignmentDetails.QueryID">
                    <input type="hidden" asp-for="QueryAssignmentDetails.ResourceID">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PropertyNameLbl">Property Name</label>
                                <input type="text" class="form-control" id="PropertyNameTxt" asp-for="PropertyName" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="FlatTypeLbl">Property Type</label>
                                <input type="text" class="form-control" id="FlatTypeTxt" asp-for="FlatType" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="FlatNumberLbl">Unit Number</label>
                                <input type="text" class="form-control" id="FlatNumberTxt" asp-for="FlatNumber" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="TenantNameLbl">Tenant Name</label>
                                <input type="text" class="form-control" id="TenantNameTxt" asp-for="TenantName" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="TenantNameLbl">Main Category</label>
                                <input type="text" class="form-control" id="MainCategoryTxt" asp-for="MainCategory" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="TenantNameLbl">Sub Category</label>
                                <input type="text" class="form-control" id="SubCategoryTxt" asp-for="SubCategory" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="UserDescriptionLbl">Description</label>
                                <textarea class="form-control" id="UserDescriptionTxt" asp-for="QueryAssignmentDetails.Description" readonly></textarea>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CommentsLbl">Comments</label>
                                <textarea class="form-control" id="CommentsTxt" asp-for="Comments"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="StatusLbl">Status<span style="color:red;">*</span></label>
                                <select id="StatusDropdown" asp-for="QueryAssignmentDetails.Status" class="form-control">
                                    <option value="InProgress">In Progress</option>
                                    <option value="Resolved">Resolved</option>
                                    <option value="OnHold">OnHold</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4" id="reasonDiv" style="display:none;">
                            <div class="form-group">
                                <label for="CommentsLbl">Reason</label>
                                <textarea class="form-control" id="ReasonTxt"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-primary" asp-action="UpdateSave" asp-controller="TechnicianServiceRequest" type="submit">Update Assignment</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
    <script src="~/assets/js/pages/form-validation.init.js"></script>
    <script>
        $(document).ready(function () {
                $('#StatusDropdown').change(function () {
                if ($(this).val()==='OnHold') {
                    $('#reasonDiv').show();
                    $('#ReasonTxt').attr('required','required');
                }
                else{
                    $('#reasonDiv').hide();
                    $('#ReasonTxt').removeAttr('required');
                }
        });
        });

    </script>

}